<div class="container mt-5">
  <h1>Stupid coaching</h1><br>
  <div class="border-start border-5">
    <p class="ps-3"><%= @question %></p>
    <p class="ps-3"><em>-You</em></p>
  </div>
  <br>
  <div class="border-start border-5">
    <p class="ps-3"><strong><%= @answer %></strong></p>
    <p class="ps-3"><em>-Your coach</em></p>
  </div>
  <a class="link-primary text-decoration-none"><%= link_to "Ask a new question", ask_path %></a>
</div>
